body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_box {
    padding: 20px;
}

#datetime-picker {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(80, 47, 47);
    background-color: rgb(245, 237, 237);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}

[data-start] {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(80, 47, 47);
    background-color: rgb(206, 194, 194);
    font-size: 20px;
    font-weight: 500;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.field {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #521c1c;
    border-radius: 5px;
    background-color: rgb(165, 216, 152);
}

.value {
    font-size: 24px;
    font-weight: 500;
}

.label {
    font-size: 20px;
    font-weight: 400;
}

[data-days] {
    color: #470808;
}

[data-hours] {
    color: #0d3315;
}

[data-minutes] {
    color: #28156e;
}

[data-seconds] {
    color: #75741f;
}